{% extends 'login_generic.html' %}

{% block content %}

<div class="column">
            <div class="ui stacked segment">

    <p>Ingresa tu correo electronico y te enviaremos 
        un mail para que renueves tu contraseña</p>
    <form action="" class="ui large form" method="post">
        {% csrf_token %}
        {%  if form.email.errors %} {{ form.email.errors }} {% endif %}
            <div class="field"> <p>{{  form.email }}</p></div>
        
        <input type="submt" class="ui button" value="Reset password">
        <input type="button" class="ui button" value="Volver"><a href="{% url 'login' %}"></a>
        </div>
    </form>
</div>
</div>
{% endblock %}