{% extends "login_generic.html" %}


{% block content %}
<div class="column">
    {% if validlink %}
    <div class="ui stacked segmen">
        <p>Por favor ingresa(y confirma) tu nueva contrsaeña</p>
        <form action="" method="post" class="ui large form">
            <div style="display:none">
                <input type="hidden" value="{{ crsf_token }}" name="csrfmiddlewaretoken">
            </div>
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">Nueva contrsaeña</label>
                    </td>
                    <td>{{ form.new_password1 }}</td>
                </tr>

                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirma tu contraseña</label>
                    </td>
                    <td>{{ form.new_password2 }}</td>
                </tr>

                <tr>
                    <td></td>
                    <td><input type="submit" value="cambio de contraseña"></td>
                </tr> 

           </table>

        </form>
    </div>

        {% else %}
            <h1>Cambio de contraseña</h1>
            <p>El link ingresado es invalido. Seguramente ya fue usado. 
                Por favor solicita nuevamente el cambio de tu contraseña</p>      
    {% endif %}
</div>

  
{% endblock %}
